<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.achmad.achmad.jadwalshalatkita">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/ic_masjeed"
        android:label="@string/applicationName"
        android:supportsRtl="true"
        android:theme="@style/MuezzinTheme"
        tools:replace="android:label">

        <activity
            android:name="com.achmad.achmad.jadwalshalatkita.activities.PrayerTimesActivity"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.achmad.achmad.jadwalshalatkita.activities.WelcomeActivity"
            android:theme="@style/WelcomeScreenTheme" />

        <activity android:name="com.achmad.achmad.jadwalshalatkita.activities.PlaceSelectionActivity" />

        <activity android:name="com.achmad.achmad.jadwalshalatkita.activities.preferences.PreferencesActivity" />

        <activity android:name="com.achmad.achmad.jadwalshalatkita.activities.preferences.ReminderPreferencesActivity" />

        <activity
            android:name="com.achmad.achmad.jadwalshalatkita.activities.LicencesActivity"
            android:label="@string/preferences_more_openSource" />

        <service
            android:name="com.achmad.achmad.jadwalshalatkita.services.PrayerTimeReminderService"
            android:exported="false" />

        <service
            android:name="com.achmad.achmad.jadwalshalatkita.services.PrayerTimesUpdaterService"
            android:exported="false" />

        <receiver
            android:name="com.achmad.achmad.jadwalshalatkita.broadcastreceivers.PrayerTimeReminderBroadcastReceiver"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="com.achmad.achmad.jadwalshalatkita.broadcastreceivers.BootCompletedBroadcastReceiver"
            android:enabled="true"
            android:exported="false">

            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.achmad.achmad.jadwalshalatkita.widgetproviders.PrayerTimesHorizontalWidget" android:label="@string/widgets_prayertimes_horizontal_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_prayertimes_horizontal" />
        </receiver>

        <receiver android:name="com.achmad.achmad.jadwalshalatkita.widgetproviders.PrayerTimesVerticalWidget" android:label="@string/widgets_prayertimes_vertical_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_prayertimes_vertical" />
        </receiver>

        <receiver android:name="com.achmad.achmad.jadwalshalatkita.widgetproviders.PrayerTimesBigWidget" android:label="@string/widgets_prayertimes_big_label">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_prayertimes_big" />
        </receiver>

        <service
            android:name="com.achmad.achmad.jadwalshalatkita.services.WidgetUpdaterService"
            android:exported="false" />
    </application>
</manifest>